body {
  background-color: var(--color-background-page);
  color: rgb(7, 7, 7);
  font-family: var(--font-family-body);
}

header {
  background-image: linear-gradient(
    to bottom,
    rgb(195, 253, 195) 0%,
    var(--color-background-header) 80%,
    transparent 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5em;
  padding-left: var(--header-offset);
  padding-right: var(--header-offset);
}
header a {
  display: flex;
  align-items: center;
}
header a:hover {
  text-decoration: none;
}
header.nav {
  background-color: var(--color-background-page);
  background-image: none;
  height: auto;
  margin-bottom: var(--margin-m);
}

h1 {
  text-align: center;
  width: fit-content;
  margin-left: var(--header-offset);
}
h1.logo {
  font-size: var(--size-type-xxl);
  margin-left: 0;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
  color: var(--color-accent);
}

h1,
h2,
h3,
h4,
h5,
a,
button,
input,
select {
  font-family: var(--font-family-display);
}

a {
  color: currentColor;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

dt {
  color: var(--color-accent);
  font-size: var(--size-type-ml);
  padding: 10px;
}

li {
  margin-top: var(--margin-s);
}

img {
  max-width: var(--width-scroll-image);
  max-height: var(--width-scroll-image);
}

button {
  border-radius: var(--radius-small);
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--color-background-button);
  cursor: pointer;
  font-weight: bold;
}

input {
  background-color: var(--color-background-input);
  padding: 3px;
  padding-left: 5px;
  margin-left: 10px;
  border-width: 1px;
  border-radius: var(--radius-small);
  text-transform: uppercase;
}

select {
  text-transform: uppercase;
}

.total-cost {
  font-size: var(--font-size-important);
  border: var(--border-small) solid red;
  border-radius: var(--radius-small);
  width: max-content;
  padding: 5px;
}

.icon {
  display: inline;
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
}

.page-icons {
  display: inline;
  height: 3rem;
  width: 3rem;
  vertical-align: top;
  fill: currentColor;
}

header.image {
  background-size: cover;
  background-position: center;
  height: var(--height-scroll-image);
  width: calc(var(--width-scroll-image) + 100px);
  align-items: normal;
  justify-content: center;
  width: var(--width-scroll-image);
  max-width: 600px;
  max-height: 450px;
}

h1.image {
  background-color: rgb(255 255 255 /50%);
  height: max-content;
  margin: 0;
}

input {
  border-color: green;
}

label {
  padding-left: var(--margin-s);
}

dt {
  padding-left: var(--margin-xs);
  /* margin-top: var(--margin-xs); */
}
dd {
  margin-left: var(--margin-l);
  margin-top: var(--margin-xs);
}
